<%- include('_header') -%>
  <main class="page">
    <%- include('_navbar') %>

    <div class="container content-surface reading-bg">
      <ul class="frag-list">
        <% posts.forEach((p, i)=> { %>
          <li>
            <article class="post-frag">
              <a href="/r/<%= p.slug %>" class="noop">
                <% if (p.cover) { %>
                  <div 
                    class="post-frag-cover" 
                    style="background-image: url('<%= p.cover %>')"></div>
                <% } %>
                <div class="post-frag-content">
                  <h2 class="post-frag-title">
                    <%= p.title %>
                  </h2>
                  <span class="post-frag-date">
                    <%= p.nice_date %>
                  </span>
                  <% if (p.post_sample) { %>
                  <span  class="post-frag-sample">
                    <p>
                      <%= p.post_sample %>
                    </p>
                  </span>
                  <span class="read-on">Read on</span>
                  <% } %>
                </div>
              </a>
            </article>
          </li>
          <% if (posts.length - 1 >= i + 1) { %>
            <li class="frag-div"></li>
          <% } %>
        <% }) %>
      </ul>
    </div>
</main>
<%- include('_footer') -%>